<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mvodozjd" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Name (Optional)</label>
    <input type="text" name="name" id="name" placeholder="Name">
    <br>
    <label for="email-address">Email Address (Optional)</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld">
    <br>
    <label for="message">Message</label>
    <br>
    <textarea rows="5" name="message" id="message" placeholder="" required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Submit">
</form>
